#statusPanel {
  padding: 1rem;
}

#map {
  width: 100%;
  height: 80vh;
}

#controlPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 16px;
}

#movementButtons {
  display: flex;
  justify-content: center;
}

#diamondControls {
  display: grid;
  gap: 8px;
  justify-items: center;
  align-items: center;
}

#northBtn {
  grid-column: 2;
  grid-row: 1;
}

#westBtn {
  grid-column: 1;
  grid-row: 2;
}

#eastBtn {
  grid-column: 3;
  grid-row: 2;
}

#southBtn {
  grid-column: 2;
  grid-row: 3;
}

#actionButtons {
  display: flex;
  justify-content: center;
  gap: 6px;
  flex-wrap: wrap;
}
